body {
  margin: 0;
  background-image: url('/img/fundopreto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  text-align: center;
}

.menu {
  display: flex;
  width: 100%;
  font-size: 1.5em;
  justify-content: space-around;
}

.menu a {
  text-decoration: none;
  padding: 20px 5px;
  cursor: pointer;
  color: aliceblue;
}

.menu a:hover {
  color: rgb(200, 255, 220);
  font-style: oblique;
}

.name {
  font-size: 3em;
  color: rgb(200, 255, 220);
  font-family: Georgia, serif;
}

main {
  margin-top: 20%;
  width: 100%;
  height: 60%;
}

.profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#minha_foto {
  border: solid 15px rgb(200, 255, 220);
  width: 50%;
  border-radius: 100%;
}

#minha_foto:hover {
  border: solid 15px rgb(49, 124, 105);
}

footer {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 100%;
  height: 25%;
  padding: 15px;
  justify-content: center;
}

#cite {
  font-size: 0.5em;
  color: rgb(200, 255, 220);
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding: 25px;
}

#cite:hover {
  color: white;
}
