body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  background-image: url('/img/fundopreto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(27, 27, 27);
}

.name {
  margin: 0;
  font-size: 60px;
  padding: 10px;
  color: rgb(200, 255, 220);
  font-family: Georgia, serif;
  letter-spacing: normal;
  line-height: 2px;
}

.title {
  font-size: 32px;
  font-style: normal;
  color: white;
  padding: 25px 5px;
}

.menu {
  margin-right: 10px;
  font-size: 1.5em;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.menu a {
  text-decoration: none;
  padding: 15px;
  color: aliceblue;
  background-color: rgb(27, 27, 27);
}

.menu a:hover {
  color: black;
  background-color: rgb(200, 255, 220);
  font-style: oblique;
}

main {
  margin-top: 20%;
  width: 100%;
  height: 60%;
}

.profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#minha_foto {
  border: solid 15px rgb(200, 255, 220);
  width: 100%;
  border-radius: 100%;
}

#minha_foto:hover {
  border: solid 15px rgb(49, 124, 105);
}

#sobreMim {
  color: rgb(200, 255, 220);
  width: 100%;
  margin: 10%;
  font-size: 38px;
  padding: 50px;
}

#sobreMim:hover {
  color: white;
  background-color: rgba(200, 255, 220, 0.3);
}

.lessons {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  padding: 25px;
}

#licoes_aprendidas {
  color: rgb(200, 255, 220);
}

#licoes_aprendidas li:hover {
  max-width: fit-content;
  cursor: pointer;
  color: white;
}

#licoes_a_aprender {
  color: rgb(200, 255, 220);
}

#licoes_a_aprender li:hover {
  cursor: pointer;
  color: white;
}

.articles {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

article p {
  padding: 25px 15px;
  color: rgb(200, 255, 220);
}

aside p {
  padding: 25px 15px;
  color: rgb(200, 255, 220);
}

.articles p:hover {
  cursor: pointer;
  color: white;
}

footer {
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 100%;
  height: 25%;
  padding: 15px;
  justify-content: center;
}

#github {
  font-size: 24px;
  color: rgb(200, 255, 220);
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding: 25px;
}

#github:hover {
  color: white;
}
